body {
    color:black;   
    background:pink;
    margin: 0px;
    font-family: "Oswald", sans-serif;

}

header {
    border-bottom: solid 3px rgb(79, 6, 62);
    padding: 25px;
    font-size: 30px;
    color: rgb(235, 118, 140);
}


.chamada{
    background: rgb(236, 4, 186);
    padding-bottom: 50px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 10%;
}

h1 {
    font-size: 25px;
}

p {
    font-size: 20px;
}

img{
    height: 250px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
}